<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"content="width=device-width, initial-scale=1.0">
        <link rel="Stylesheet" href="Styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
        <title>Vibe&Co</title>
    </head>
    <body>
        <header class="navbar">
            <div class="logo"> <img src="../Source/Logos/Logo_icon_Vibe_Co.png" alt="Logo"></div>
            <nav>
                <ul class ="menu">
                    <li><a href="../views/the_newest.html" class="LoNuevo">LO NUEVO</a></li>
                    <li><a href="../View/section_men.html" class="Hombres">HOMBRES</a></li>
                    <li><a href="../views/section_women.html"class="Mujeres">MUJERES</a></li>
                    <li><a href="../views/section_kids.html" class="NiñosyNiñas">NIÑOS Y NIÑAS</a></li>
                     <li><a href="../views/section_offers.html" class="Ofertas">OFERTAS</a></li>
                </ul>
            </nav>
            <div class="iconos">
                <a href="#"><img src="../Source/icons/Favoritos.png" class="iconNav" alt="MeGusta"></a>
                <a href="../views/shopping_cart_view.html"><img src="../Source/icons/Carrito_de_compras.png" class="iconNav" alt="Carrito"></a>
                <div class="userContainer">
                    <img src="../Source/icons/Icono_Usuario.png" class="iconNav" alt="Usuario">
                    <div class="userDrop" id="userDropdown">
                        <div id="userContent">
                            <button onclick="window.location.href='login.html'" class="btnDropdown">Iniciar Sesión</button>
                        </div>
                    </div>
                </div>
            </div>
        </header> 
        <main>
            <section class="hero">

                <img src ="../Source/img/Sky_Sunset.jpg" class="Sol">

                <div class="hero-text">
                    <h1>Wear The Vibe</h1>
                    <p>Nueva Colección 2026</p>
                    <a href="../View/the_newest.html" class="btn-hero">Comprar ahora</a>
                </div>
            </section>
            <section class="productos">
                <div class="producto">
                    <a href=""><img src="../Source/Ropa/Playera_negra_lisa.png"></a>
                    <h4>Playera Negra</h4>
                    <p>$299 MXN</p>
                    <button>Agregar al carrito</button>
                </div>

                <div class="producto">
                    <a href=""><img src="../Source/Ropa/Playera_beige_lisa.png"></a>
                    <h4>Playera Beige</h4>
                    <p>$299 MXN</p>
                    <button>Agregar al carrito</button>
                </div>

                <div class="producto">
                    <a href=""><img src="../Source/Ropa/Playera_azul_lisa.png"></a>
                    <h4>Playera Azul</h4>
                    <p>$299 MXN</p>
                    <button>Agregar al carrito</button>
                </div>

                <div class="producto">
                    <a href=""><img src="../Source/Ropa/Playera_verde_lisa.png"></a>
                    <h4>Playera Verde</h4>
                    <p>$299 MXN</p>
                    <button>Agregar al carrito</button>
                </div>
                
                <div class="producto">
                    <a href=""><img src="../Source/Ropa/Playera_roja_lisa.png"></a>
                    <h4>Playera Roja</h4>
                    <p>$299 MXN</p>
                    <button>Agregar al carrito</button>
                </div>

            </section>
            <section class="objetivos">
                <h2>Nuestros Objetivos</h2>
                <ul class="lista">
                    <li>Crear prendas que reflejen quién eres, no solo cómo te ves.</li>
                    <li>Convertir tu estilo en una forma de expresión auténtica.</li>
                    <li>Diseñar ropa que conecte con tu vibra y tu personalidad.</li>
                    <li>Romper lo común y vestir lo extraordinario.</li>
                    <li>Hacer que cada outfit cuente una historia.</li>
                    <li>Impulsar la identidad de cada persona a través de diseños con carácter y propósito.</li>
                    <li>Crear piezas que inspiren confianza, actitud y autenticidad.</li>
                    <li>Transformar la ropa en una extensión de tu esencia.</li>
                </ul>
        </main>
        <footer class="Pie">

            <div class="info">


                <div class="columnas">
                    <h3>Colecciones</h3>
                    <a href="">Mujer</a>
                    <a href="">Hombre</a>
                    <a href="">Niños</a>
                    <a href="">Home</a>
                    <a href="">Beauty</a>
                    <a href="">Tarjetas de regalo</a>
                </div>


                <div class="columnas">
                    <h3>Información Corporativa</h3>
                    <a href="">Trabajar en Vibe&Co</a>
                    <a href="">Acerca del grupo</a>
                    <a href="">Sostenibilidad</a>
                    <a href="">Prensa</a>
                    <a href="">Relación con inversionistas</a>
                    <a href="">Política empresarial</a>
                </div>


                <div class="columnas">
                    <h3>Ayuda</h3>
                    <a href="">Atención al cliente</a>
                    <a href="">Mi cuenta</a>
                    <a href="">Nuestras tiendas</a>
                    <a href="">Términos y condiciones</a>
                    <a href="">Contacto</a>
                    <a href="">Compras seguras</a>
                </div>
            </div>


            <div class="piedepagina">
                <img src="../Source/Logos/Logo_Vibe&Co.jpeg">
                <p>© 2026 Vibe&Co. Todos los derechos reservados.</p>
            </div>

        </footer>
        <script src="mainScript.js"></script>
    </body>
</html>