body{
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.pagoContainer{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2{
    color: #000000;
    margin-bottom: 20px;
}

#resumenPago{
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px dashed #ced4da;
}

#montoTotal{
    font-weight: bold;
    font-size: 1.2rem;
    color: #27ae60;
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input{
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 1rem;
}

input:focus{
    outline: none;
    border-color: #3498db;
}

.row{
    display: flex;
    gap: 10px;
}

.row input {
    width: 50%;
}

#btnConfirmar{ 
    background-color: #076807;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}

#btnConfirmar:hover{
    background-color: #35d814;
}

.btnVolver{
    margin-top: 15px;
    background: none;
    border: none;
    color: #7f8c8d;
    cursor: pointer;
    text-decoration: underline;
    font-size: 0.9rem;
}