<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="Stylesheet" href="men_styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
        <title>Vibe&Co - Hombres</title>
    </head>
    <body>
        <header class="navbar">
            <div class="logo"> 
                <a href="Main.html"><img src="../Source/Logos/Logo_Vibe&Co.jpeg" alt="Logo"></a>
            </div>
            <nav>
                <ul class ="menu">
                    <li><a href="/the_newest.html">LO NUEVO</a></li>
                    <li><a href="/section_men.html" style="color: #888;">HOMBRES</a></li>
                    <li><a href="/section_women.html">MUJERES</a></li>
                    <li><a href="/section_kids.html">NIÑOS Y NIÑAS</a></li>
                </ul>
            </nav>
            <div class="iconos">
                <div class="userContainer" id="UserIconContainer">
                    <img src="../Source/icons/Icono_Usuario.png" class="iconNav" alt="Usuario">
                    <div class="userDrop">
                        <div id="userContent">
                            <button onclick="window.location.href='login.html'" class="btnDropdown">Iniciar Sesión</button>
                        </div>
                    </div>
                </div>
                <div class="cartContainer" id="cartIconContainer">
                    <img src="../Source/icons/Carrito_de_compras.png" class="iconNav" alt="Carrito"><span id="cartCount">0</span></a>
                    <div class="cartDropdown">
                        <div id="cartItemsContainer">
                            <p class="emptyMsg">Carrito vacío</p>
                        </div>
                        <div class="cartFooter">
                            <div class="cartTotal">Total: <span id="cartTotalAmount">$0.00</span></div>
                            <button onclick="Pagar()" class="btnPagar">FINALIZAR COMPRA</button>
                        </div>
                    </div>
                </div>
            </div>
        </header> 
        <main>
            <section class ="men-hero">
                <img src="../Source/img/MenWalking.jpg"  class ="MenWalking">
                <div class="hero-text">
                    <h1>SHOW ME WHO YOU ARE</h1>
                </div>
            </section>
            <section class="categorias-men">
                <h2>Colección Hombre</h2>

                <div class="filtros">
                    <button>Todo</button>
                    <button>Playeras</button>
                    <button>Sudaderas</button>
                    <button>Pantalones</button>
                    <button>Accesoríos</button>
                </div>
            </section>
            <section class="productos-men">
                <div class="producto">
                    <a href="producto.html?nombre=Playera%20Vibe%20Negra&precio=299&imagen=../Source/Ropa/Playera_negra_lisa.png"><img src="../Source/Ropa/Playera_negra_lisa.png" alt="Playera Negra"></a>
                    <h4>Playera Negra</h4>
                    <p>$299 MXN</p>
                    <button onclick="agregarCarrito('Playera Vibe Negra', 299, '../Source/Ropa/Playera_negra_lisa.png')">AGREGAR AL CARRITO</button>
                </div>

                <div class="producto">
                    <a href="producto.html?nombre=Playera%20Vibe%20Beige&precio=299&imagen=../Source/Ropa/Playera_beige_lisa.png"><img src="../Source/Ropa/Playera_beige_lisa.png" alt="Playera Beige"></a>
                    <h4>Playera Beige</h4>
                    <p>$299 MXN</p>
                    <button onclick="agregarCarrito('Playera Vibe Beige', 299, '../Source/Ropa/Playera_beige_lisa.png')">AGREGAR AL CARRITO</button>
                </div>

                <div class="producto">
                    <a href="producto.html?nombre=Playera%20Vibe%20Azul&precio=299&imagen=../Source/Ropa/Playera_azul_lisa.png"><img src="../Source/Ropa/Playera_azul_lisa.png" alt="Playera Azul"></a>
                    <h4>Playera Azul</h4>
                    <p>$299 MXN</p>
                    <button onclick="agregarCarrito('Playera Vibe Azul', 299, '../Source/Ropa/Playera_azul_lisa.png')">AGREGAR AL CARRITO</button>
                </div>

                <div class="producto">
                    <a href="producto.html?nombre=Playera%20Vibe%20Verde&precio=299&imagen=../Source/Ropa/Playera_verde_lisa.png"><img src="../Source/Ropa/Playera_verde_lisa.png" alt="Playera Verde"></a>
                    <h4>Playera Verde</h4>
                    <p>$299 MXN</p>
                    <button onclick="agregarCarrito('Playera Vibe Verde', 299, '../Source/Ropa/Playera_verde_lisa.png')">AGREGAR AL CARRITO</button>
                </div>

                <div class="producto">
                    <a href="producto.html?nombre=Playera%20Vibe%20Roja&precio=299&imagen=../Source/Ropa/Playera_roja_lisa.png"><img src="../Source/Ropa/Playera_roja_lisa.png" alt="Playera Roja"></a>
                    <h4>Playera Roja</h4>
                    <p>$299 MXN</p>
                    <button onclick="agregarCarrito('Playera Vibe Roja', 299, '../Source/Ropa/Playera_roja_lisa.png')">AGREGAR AL CARRITO</button>
                </div>
            </section>
        </main>
        <footer class="Pie">
            <div class="info">
                <div class="columnas">
                    <h3>Colecciones</h3>
                    <a href="section_women.html">Mujer</a>
                    <a href="section_men.html">Hombre</a>
                    <a href="section_kids.html">Niños</a>
                </div>
                <div class="columnas">
                    <h3>Información</h3>
                    <a href="">Acerca del grupo</a>
                    <a href="">Sostenibilidad</a>
                    <a href="">Prensa</a>
                </div>
                <div class="columnas">
                    <h3>Ayuda</h3>
                    <a href="">Atención al cliente</a>
                    <a href="">Contacto</a>
                    <a href="">Compras seguras</a>
                </div>
            </div>
            <div class="piedepagina">
                <img src="../Source/Logos/Logo_Vibe&Co.jpeg">
                <p>© 2026 Vibe&Co. Todos los derechos reservados.</p>
            </div>
        </footer>
        <script src="mainScript.js"></script>
    </body>
</html>